<h3>Edit Movie</h3>
<div [hidden]="submitted">
  <form *ngFor="let movie of movies" (ngSubmit)="update()">
    <div class="form-group">
      <label for="name">Name</label>
	  <input type="hidden" class="form-control" id="id" required [(ngModel)]="movie.id" name="name">
      <input type="text" class="form-control" id="name" required [(ngModel)]="movie.name" name="name">
    </div> 
    <div class="form-group">
      <label for="name">Genre</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="movie.type" name="type">
    </div>
    <div class="form-group">
      <label for="name">Rating</label>
	  <select class="form-control" id="rating" required [(ngModel)]="movie.rating" name="rating">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  </select>      
    </div> 
	<button *ngIf="movie.id" type="submit" class="btn btn-success">Update</button>
	<button *ngIf="!movie.id" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Movie successfully updated!</h4>
  <label name="message"></label>
  <button class="btn btn-success" (click)="newMovie()">Go Back</button>